/* Write your code here. */
.thumbnail_Items_container {
  margin: 5px;
}
.thumbnail_button {
  border: none;
  background-color: transparent;
}
.thumbnail_images {
  height: 70px;
  width: 70px;
}
.myactiveTab {
  opacity: 0.5;
}
